extends ../layout

block content
  #content
    h3.title=action.text + ' Author' 
    .row
      .col-md-2.col-md-offset-5
        form(method='POST' action=action.url enctype='multipart/form-data')
          div.form-group.required
            label(for='firstName') FirstName
            input.form-control(type='text' id='firstName' placeholder='FirstName' name='firstName' required value=body === null ? (author ? author.firstName : '') : body.firstName)
          div.form-group.required
            label(for='lastName') LastName
            input.form-control(type='text' id='lastName' placeholder='LastName' name='lastName' required value=body === null ? (author ? author.lastName : '') : body.lastName)
          div.form-group
            label(for='image') Image:
            input.form-control(type='file' id='image' placeholder='Image' name='image')
          button.btn.btn-primary(type='submit')=action.text
        if action.text === 'Update' && author.image
          .image-container
            img.image(src=author.image)
            a.delete(href="/author/" + author.id + "/delete/image")
      #confirm.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
              h4#myModalLabel.modal-title Confirm Delete
            .modal-body
              p You are about to delete this image, this procedure is irreversible.
              p Do you want to proceed?
            .modal-footer
              button.btn.btn-default(type="button" data-dismiss="modal") Cancel
              a#delete.btn.btn-danger.btn-ok Delete