extends ../layout

block content
  #content
    h3.title Books
    if currentUser
      .create
        a(href='/book/create') Add
      .limit
        select.form-control(id="books")
          each limit in limits
            if limit === booksLimit
              option(value=limit selected=true)= limit
            else
              option(value=limit)= limit
    .books.header(class=books.length == 0 ? 'last' : '')
      p#title(class=field === 'title' ? direction : '') Title
      p#author(class=field === 'author' ? direction : '') Author
      p#price(class=field === 'price' ? direction : '') Price
      if currentUser
        p.actions Actions

    if books
      each book, index in books
        .books(class=index == books.length - 1 ? 'last' : '')
          p #{book.title}
          p #{book.author.fullname()}
          p #{book.price / 100}
          if currentUser
            p.actions
              a(href="/book/" + book.id + "/details") Details
              if currentUser.roles.indexOf('Admin') > -1 || book.createdBy._id.toString() === currentUser._id.toString()
                |  |
                a(href="/book/" + book.id + "/edit") Edit
                |  | 
                a.delete(href="/book/" + book.id + "/delete") Delete
      if pages
        nav
          ul.pagination
            li.page-item(class=page === 1 ? 'disabled' : '')
              a.page-link(href=page > 1 ? '/books?page=' + (page - 1) : '#' tabindex='-1' aria-label='Previous')
                span(aria-hidden='true') &laquo;
                span.sr-only Previous
        
            - for(let i = 1; i <= pages; i++)
              if i === page
                li(class='page-item active')
                  a.page-link(href='/books?page=' + i)= i
                    span.sr-only (current)
              else
                li.page-item
                  a.page-link(href='/books?page=' + i)= i

            li.page-item(class=page === pages ? 'disabled' : '')
              a.page-link(href=page < pages ? '/books?page=' + (page + 1) : '#'  aria-label='Next')
                span(aria-hidden='true') &raquo;
                span.sr-only Next

    #confirm.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
            h4#myModalLabel.modal-title Confirm Delete
          .modal-body
            p You are about to delete this image, this procedure is irreversible.
            p Do you want to proceed?
          .modal-footer
            button.btn.btn-default(type="button" data-dismiss="modal") Cancel
            a#delete.btn.btn-danger.btn-ok Delete